.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
.card {
  max-width: 348px;
  margin: auto;
  min-height: 300px;
}

.cardImage {
  height: 8rem;
  width: auto;
  padding: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cardBody {
  text-align: center;
}